@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leeeyz的系统</title>

    <link href="@Url.Content("~/Content/ElementUI/element-ui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/vue.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vue-router.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/axios.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ElementUI/element-ui.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/main/main.css")" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <el-container>
            <el-header id="main-el-header">leeeyz的系统</el-header>
            <el-container>
                <el-aside id="main-el-aside">
                    <el-menu id="main-el-menu" background-color="#303133" text-color="#C0C4CC" v-bind:router="true">
                        <el-menu-item index="spendType">
                            <i class="el-icon-document"></i>
                            <span slot="title">花费类型</span>
                        </el-menu-item>
                        <el-menu-item index="spend">
                            <i class="el-icon-document"></i>
                            <span slot="title">花费明细</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main id="main-el-main">
                    <transition>
                        <keep-alive>
                            <router-view></router-view>
                        </keep-alive>
                    </transition>
                </el-main>
            </el-container>
            <el-footer id="main-el-footer">copy right@leeeyz</el-footer>
        </el-container>

        <script type="text/x-template" id="spendType">
            <div>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-button type="primary" size="small" icon="el-icon-search" v-on:click="query">查询</el-button>
                        <el-button type="primary" size="small" icon="el-icon-plus" v-on:click="add">增加</el-button>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-table v-bind:data="tableData" stripe border>
                            <el-table-column type="index" width="60"></el-table-column>
                            <el-table-column prop="ID" label="ID" width="180"></el-table-column>
                            <el-table-column prop="TypeName" label="花费类型名称"></el-table-column>
                            <el-table-column label="操作" width="200">
                                <template slot-scope="scope">
                                    <el-button size="small" type="warning" icon="el-icon-edit" v-on:click="edit(scope.row)">修改</el-button>
                                    <el-button size="small" type="danger" icon="el-icon-delete" v-on:click="del(scope.row)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
                <el-row>
                    <el-pagination v-bind:current-Page="pageIndex" v-bind:page-size="pageSize" v-bind:total="total" v-bind:page-sizes="pageSizes"
                                   layout="total,sizes,prev,pager,next,jumper" v-on:size-change="sizeChange" v-on:current-change="pageIndexChange">
                    </el-pagination>
                </el-row>
                <div>
                    <el-dialog v-bind:title="formTitle" v-bind:visible.sync="formOpen" v-on:close="formClose">
                        <el-form v-bind:model="model" v-bind:rules="rules" ref="form" label-position="left" label-width="120px">
                            <el-form-item label="ID" prop="ID">
                                <el-input v-model="model.ID" v-bind:disabled="true"></el-input>
                            </el-form-item>
                            <el-form-item label="花费类型名称" prop="TypeName">
                                <el-input v-model="model.TypeName"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="success" v-on:click="save">确定</el-button>
                                <el-button type="warning" v-on:click="cancel">取消</el-button>
                            </el-form-item>
                        </el-form>
                    </el-dialog>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="spend">

        </script>

    </div>

    <script type="text/javascript">
        var serverUrl = "@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority)";
    </script>

    <script src="@Url.Content("~/Scripts/main/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main/spendType.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main/spend.js")" type="text/javascript"></script>
</body>
</html>
